body {
	background-color: #D8BFD8;
}

.FirstDiv {
	background-color: black;
}

.FirstTitle {
	color: white;
	font-size: 4em;
	padding-left: 20px;
	text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}